/* Default styles for larger screens */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

/* Header styles */
.header {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),
        url("https://assets.nflxext.com/ffe/siteui/vlv3/9db4a880-3034-4e98-bdea-5d983e86bf52/b5953637-091d-4e02-9754-2bfadc8a8f7c/IN-en-20230925-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-repeat: initial;
    background-size: cover;
    height: 80vh;
    padding: 3rem;
    padding-top: 1rem;
}

/* Heading styles */
.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 6rem;
}

h1 {
    color: white;
    font-size: 3.5rem;
}

/* Signin styles */
.signin {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 150px;
    height: 100px;
}

.lang {
    border: none;
    padding: .5rem 1rem;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: 400;
    font-size: 20px;
    margin-right: 2rem;
}

.lang:focus {
    outline: none;
}

.btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: .5rem 1rem;
    font-weight: 400;
    font-size: 20px;
}

/* Content styles */
.content {
    color: white;
    text-align: center;
    margin-top: 10rem;
    display: flex;
    height: 35vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: larger;
}

.input {
    width: 100%;
}

.mail {
    border-color: white;
    border-width: .1px;
    border-radius: 5px;
    padding: .5rem 1rem;
    font-weight: 400;
    font-size: 20px;
    background-color: transparent;
    color: white;
    width: 35%;
}

/* TV and Download sections styles */
.tv,
.download {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 70vh;
    padding: 0 10rem;
    padding-bottom: 5rem;
}

.tv-content,
.download-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
}

hr {
    border: 5px solid rgba(0, 0, 0, 0.701);
}

.para {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.download_img {
    height: 100%;
}

/* FAQ section styles */
.faq {
    width: 90%;
    margin: 2rem 0;
}

.faq-item .answer {
    display: none;
}

.faq-item {
    background-color: rgba(255, 255, 255, 0.145);
    padding: 1rem;
    margin: 1rem;
    width: 100%;
}

.question {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.faq_section {
    background-color: black;
    color: white;
    padding: 5rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

.toggle-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.ready {
    margin: 2rem;
    text-align: center;
}

.answer {
    margin: 1rem 0;
    line-height: 2;
}

/* Footer styles */
.footer {
    background-color: black;
    color: rgba(255, 255, 255, 0.7);
    padding: 5rem 10rem;
    height: auto;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
    margin: 2rem 0;
}

.subfooter,
.footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

li {
    text-decoration: underline;
    margin-bottom: 1rem;
}

a {
    color: rgba(255, 255, 255, 0.7);
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    *{
        width:100%;
    }
    .logo{
        width:100px;
        margin-left: -.5rem;
        margin-right: 4.5rem;
    }
    .header {
        padding: 2rem;
        height:100vh;
    }

    .heading {
        margin: 0 .5rem;
    }
    h1 {
        font-size: 2.5rem;
    }

    .lang {
       display: none;
    }

    .btn {
        font-size: 16px;
        width: fit-content;
    }

    .content {
        margin-top: 5rem;
    }

    .mail {
        font-size: 16px;
        width: 70%;
        margin:1rem 0;
    }
    
    .tv,
    .download {
        padding: 0 2rem;
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .tv-content,
    .download-content {
        width: 80%;
    }
    .tv-content{
        margin-bottom: -2rem;
    }
    .faq_section {
        padding: 2rem;
    }
    .faq-item{
        width:100%;
    }
    .toggle-button {
        font-size: 1rem;
    }

    .footer {
        padding: 2rem;
    }
    .links{
        flex-direction: column;
    }
    img{
        width: 50%;
    }
}
